body {

    background-color: rgb(105, 143, 247);
    font: normal 15pt Arial;
}

header {

    color: white;
    text-align: center;

}

section {

    background-color: white;
    border-radius: 10px;
    width: 400px;
    margin: auto;
    padding: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.473);

div {
    text-align: center;
}

}

footer {
    color: white;
    text-align: center;
    font-style: italic;

}